@model DeveloperEditSkillsViewModel
@{
    ViewData["Title"] = "Details";
    ViewData["ShowUser"] = false;
    ViewData["ShowNoteButtons"] = true;
}

<div class="jumbotron pb-5">
    <h2 class="display-5"><span class="font-weight-normal">Hello, </span>@Model.Developer.Name! <small>#@Model.Developer.DeveloperId</small></h2>
    <p class="lead">Gender: @Model.Developer.Gender | Type: @Model.Developer.Type</p>
    <hr class="my-4">
    <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
        @foreach (DeveloperSkill skill in Model.DeveloperSkills)
        {
            <a asp-controller="Skill" asp-action="Details" asp-route-id="@skill.SkillId" class="bg-dark rounded px-3 py-2 d-flex align-items-center mr-3 mb-3 text-decoration-none">
                <div class="text-white text-capitalize">@skill.Skill.SkillName</div>
                <div class="ml-2">
                    <span class="badge badge-pill badge-light">lvl @skill.SkillLevel</span>
                </div>
            </a>
        }
    </div>
    <div class="d-flex justify-content-end mt-2">
        <a class="btn btn-secondary" asp-action="EditSkills" asp-route-id=@Model.Developer.DeveloperId>Edit Skills</a>
    </div>
</div>

@if (Model.Developer.Notes.Count() == 0)
{
    <p class="text-center mt-5">No notes created yet</p>
}
else
{
    <div class="row">
        @foreach (Note note in Model.Developer.Notes)
        {
            <partial name="_NoteCard" model="note" view-data="ViewData" />
        }
    </div>
}