@model DeveloperEditSkillsViewModel

<h3>Edit skills of @Model.Developer.Name</h3>

<div class="row mb-4">
    @foreach (DeveloperSkill devSkill in Model.DeveloperSkills)
    {
        <div class="col-12 mt-3">
            <div class="row">
                <label class="col-2 col-form-label">Skill Name</label>
                <div class="col-4">
                    <select class="form-control" asp-for="@devSkill.Skill.SkillId" disabled>
                        <option value="0" selected disabled>Choose a skill...</option>
                        @foreach (Skill skill in Model.Skills)
                        {
                            <option class="text-capitalize" value=@skill.SkillId selected="@(skill.SkillId == devSkill.SkillId ? true : false)">@skill.SkillName</option>
                        }
                    </select>
                </div>
                <label class="col-1 col-form-label">Level</label>
                <div class="col-3">
                    <input class="form-control" asp-for="@devSkill.SkillLevel" readonly>
                </div>
                @*<div class="col-1 text-right">
                    <button class="btn btn-outline-dark w-100">
                        <i class="bi bi-upload"></i>
                    </button>
                </div>*@
                <div class="col-2 text-right">
                    <button class="btn btn-outline-danger w-100 devSkillConfirmDelete" data-toggle="modal" data-target="#confirmDeleteModal" data-assigned-id=@devSkill.DeveloperSkillId>
                        <i class="bi bi-trash-fill"></i> Delete
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<hr />

<div class="alert alert-danger" role="alert" id="skillInsertAlert">
    <strong id="titleSkillInsertAlert"></strong> You should check in on some of the fields below and try again.
    <button type="button" class="close" aria-label="Close" id="closeSkillInsertAlert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row mt-4 mb-3" id="skillContainer">
    <div class="col-12">
        <div class="row justify-content-between">
            <label for="skills" class="col-sm-2 col-form-label">Skills</label>
            <div class="col-sm-2 text-right">
                <button class="btn btn-secondary text-white w-100" id="addSkillBtn">Add Skill</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end mt-4 mb-5">
    <div class="col-2">
        <button id="submitSkillBtn" class="btn btn-primary text-white w-100" data-dev-detailsid=@Model.Developer.DeveloperId>
            Submit Skills
        </button>
    </div>
</div>

@section Scripts
{
    <script>
        $("#skillInsertAlert").hide();

        $("#addSkillBtn").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Developer/GetSkillSelectorPartialView",
                type: "POST",
                success: function (result) {
                    $("#skillContainer").append(result);
                },
                error: function (xhr, status, error) {
                    console.log("An error occurred while loading the partial view.");
                }
            });
        });
        $("#skillContainer").on("click", ".skill-remove", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

        $('#submitSkillBtn').click(function (e) {
            e.preventDefault();
            $("#skillInsertAlert").hide();
            var devIdFromDetails = $(this).data('dev-detailsid');
            var devSkills = $("select[name='devSkills[]']").map(function () { return $(this).val(); }).get();
            var devSkillsLevel = $("input[name='devSkillsLevel[]']").map(function () { return $(this).val(); }).get();

            console.log(devSkills.length === 0);
            if (devSkills.length != 0) {
                $.ajax({
                    type: "POST",
                    url: "/Developer/EditSkills",
                    data: {
                        "devId": devIdFromDetails,
                        "devSkills": devSkills,
                        "devSkillsLevel": devSkillsLevel
                    },
                    success: function (response) {
                        window.location.href = response.redirectToUrl;
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 400) {
                            $("#skillInsertAlert").show();
                            $("#titleSkillInsertAlert").text(xhr.responseText);
                        } else {
                            alert("An expected error occurred: " + error);
                        }
                    }
                });
            }
            else {
                $("#skillInsertAlert").show();
                $("#titleSkillInsertAlert").text("Please select at least one skill name!");
            }
        });

        $("#closeSkillInsertAlert").click(function (e) {
            $("#skillInsertAlert").hide();
        });
    </script>
}